/* -------------------------------------------------------- */
/*    CELULAR    */
/* -------------------------------------------------------- */

@media screen and (max-width: 576px) {
    .header-fluid {
        height: 100vh;
    }
    .menu-container-fluid, .menu-container, .menu-row {
        height: auto;
    }
    .burger-icon {
        display: flex;
    }

    /*---------- MENU ACTIVO Y OCULTO -----*/
    .menu-activo {
        border-radius: 10px;
        background-color: #46464696;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.357);
        width: 95vw;
        padding: 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        position: fixed;
        /* left: 0px; */
        top: 30px;
        z-index: 2;
        transition: 0.4s;

        /*----------------------------- */
        /*      EFECTO GLASS */
        /* ---------------------------- */
        background: rgba(255, 255, 255, 0.4);
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        backdrop-filter: blur(3.5px);
        transition: 0.5s;
    }
    .menu-activo ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .menu-activo li {
        margin: 20px;
        width: 100%;
    }
    .menu-activo li a {
        font-size: 20px;
        color: #212121;
        padding: 20px 100px;
    }
    .menu-contacto {
        height: 100%;
        /* background-color: #25252551; */
        border-radius: 6px 6px 0px 0px;
    }
    .menu-activo .menu-contacto a {
        color: white;
    }
    .menu-oculto {
        top: -120vw;
    }
    #enlace {
        color: #212121;
        width: 100%;
    }
    #enlace:hover {
        color: #ff0000;
        filter: #ffffff;
    }

    /*----------------------------- */
    /*     HEADER */
    /* ---------------------------- */

    .header-fluid {
        height: 95vh;
    }
    .header-fluid .header-container .header-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .header-fluid .header-container .header-row .header-title h4 {
        font-size: 25px;
    }
    .header-fluid .header-container .header-row .header-title h1 {
        text-align: end;
        font-size: 65px;
    }

    /* ------------------------------------------------------- */
    /* -----TARJETA DEL HEADER----- */
    /* ------------------------------------------------------- */
    .header-fluid .header-container .header-row .header-foto {
        width: 300px;
        height: 330px;
    }
    .header-fluid .header-container .header-row .header-foto:hover {
        background-size: 550px;
        background-position: left top;
    }
    .header-fluid .header-container .header-row .header-foto span {
        font-size: 15px;
    }

    /* ------------------------------------------------------- */
    /* -----TARJETA DEL HEADER----- */
    /* ------------------------------------------------------- */

    .skills-fluid .skills-row .skills-title h2 {
        font-size: 5rem;
        text-align: center;
    }

    /* ------------------------------------------------------- */
    /* -----SKILLS TARJETAS----- */
    /* ------------------------------------------------------- */

    .skill-card-fluid .skill-card-container .skill-card-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skill-card-fluid .skill-card-container .skill-card-row .skill-card {
        width: 80%;
        height: auto;
        margin: 20px 0px;
    }
    #skill-card3 {
        /* border: 1px solid orangered; */
        margin: 150px 0px 80px;
    }

    .proyect-fluid .proyect-container .proyect-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .proyect-fluid .proyect-container .proyect-row .proyect-title h2 {
        font-size: 3.2rem;
    }

    /* ------------------------------------------------------- */
    /* -----PROYECTOS----- */
    /* ------------------------------------------------------- */

    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto {
        margin-bottom: 40px;
        width: 100%;
        height: 200px;
    }

    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto .span-01 {
        top: 10px;
        left: 20px;
        font-size: 25px;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto .span-02 {
        bottom: 10px;
        right: 30px;
        font-size: 14px;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .proyect-foto:hover {
        background-size: 400px;
        background-position: right top;
        filter: grayscale(100%) blur(1.5px) contrast(30%);
    }

    /* ------------------------------------------------------- */
    /* -----CODE BLOCK----- */
    /* ------------------------------------------------------- */

    .block-fluid .block-container .block-row1 .block-title h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        text-align: center;
    }

    /* -------------------------------------------------------- */
    /*              FOOTER */
    /* ------------------------------------------------------- */

    .footer-fluid {
        margin-top: 50px;
        padding-top: 50px;
    }
    .footer-fluid .footer-container {
        height: 100%;
    }
    .footer-fluid .footer-container .footer-row .footer-foto {
        width: 150px;
    }

}