body {
  margin: 0;
  background: #e0e0e0;
}

.burger-icon {
  display: none;
  padding: 10px;
  width: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.burger-icon img {
  width: 100%;
}

.burger-icon:hover {
  background: linear-gradient(145deg, #ffffff, #bababa);
  box-shadow: 8px 8px 25px #c2c2c2, -8px -8px 25px #ffffff;
}

.menu-container-fluid {
  margin-top: 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-container-fluid .menu-container {
  /* border: 1px solid red; */
  height: 50px;
  font-family: "Averia Serif Libre";
  font-weight: bold;
}
.menu-container-fluid .menu-container .menu-row {
  /* border: 1px solid greenyellow; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container-fluid .menu-container .menu-row nav {
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.menu-container-fluid .menu-container .menu-row nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.menu-container-fluid .menu-container .menu-row nav ul a {
  text-decoration: none;
  margin: 0px 25px;
  color: #0d7377;
  padding-bottom: 15px;
}
.menu-container-fluid .menu-container .menu-row nav ul a:hover {
  color: #ff0000;
  filter: drop-shadow(1px 1px 5px #ffffff);
  transition: 0.4s;
}

.contacto-button {
  width: 45px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 75px;
  z-index: 1;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.contacto-button img {
  width: 100%;
}

.contacto-button:hover {
  background: linear-gradient(145deg, #ffffff, #bababa);
  box-shadow: 8px 8px 25px #c2c2c2, -8px -8px 25px #ffffff;
}

.modal-dialog {
  margin: 30vh 15vw 0;
  font-family: "Aldrich", sans-serif;
  width: 250px;
  height: auto;
}
.modal-dialog .modal-content {
  box-shadow: 5px 5px 10px #505050, -5px -5px 10px #bebebe;
  background: rgba(255, 255, 255, 0.6);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(3.5px);
  transition: 0.5s;
}
.modal-dialog .modal-content .foto-modal {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: -110px;
}
.modal-dialog .modal-content .modal-body .row {
  /* border: 1px solid red; */
  margin: 30px 0px;
  justify-content: space-around;
}
.modal-dialog .modal-content .modal-body .row .social {
  /* border: 1px solid blue; */
  width: auto;
}
.modal-dialog .modal-content .modal-body .row .social .social-img {
  width: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.modal-dialog .modal-content .modal-body .row .social .social-img:hover {
  width: 45px;
  margin: 0px;
  filter: drop-shadow(1px 1px 5px #ffffff);
}
.modal-dialog .modal-content .modal-footer {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
}
.modal-dialog .modal-content .modal-footer .social-whatsapp {
  width: 55px;
  transition: 0.4s;
}
.modal-dialog .modal-content .modal-footer .social-whatsapp:hover {
  width: 65px;
  margin: 0px;
  filter: drop-shadow(1px 1px 5px #ffffff);
}

.header-fluid .header-container .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-fluid .header-container .header-row .header-title {
  width: auto;
}
.header-fluid .header-container .header-row .header-title h4 {
  margin: 0;
  font-family: "Averia Serif Libre", cursive;
  color: #212121;
  font-size: 35px;
  text-align: end;
  font-style: oblique;
}
.header-fluid .header-container .header-row .header-title h1 {
  margin: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  color: #0d7377;
  font-size: 80px;
  font-weight: bold;
}
.header-fluid .header-container .header-row .header-title h3 {
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  font-family: "Averia Serif Libre", cursive;
  color: #212121;
  text-align: end;
  cursor: pointer;
}
.header-fluid .header-container .header-row .header-title h3:hover {
  color: #af0404;
}
.header-fluid .header-container .header-row .header-foto {
  margin-top: 20px;
  width: 400px;
  height: 450px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.8s;
  background: url(../img/modal-foto.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-fluid .header-container .header-row .header-foto span {
  position: absolute;
  top: 50px;
  left: 25px;
  font-family: "Averia Serif Libre", cursive;
  color: #212121;
  font-size: 27px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.8s;
  transform: translateY(20px);
}
.header-fluid .header-container .header-row .header-foto:hover span {
  opacity: 1;
  transform: translateY(0);
}
.header-fluid .header-container .header-row .header-foto:hover {
  background-size: 800px;
  background-position: left top;
  filter: grayscale(100%);
}
.header-fluid .header-container .header-row .header-foto::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}
.header-fluid .header-container .header-row .header-foto:hover::before {
  opacity: 1;
}

.skills-fluid {
  margin: 100px 0px;
  height: auto;
}
.skills-fluid .skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills-fluid .skills-row .skills-title {
  width: auto;
}
.skills-fluid .skills-row .skills-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
}
.skills-fluid .skills-row .skills-info {
  width: 50%;
}
.skills-fluid .skills-row .skills-info h4 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}
.skills-fluid .skills-row .skills-info p {
  font-family: "Averia Serif Libre";
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
