body {
  margin: 0;
  background: #e0e0e0;
}

.burger-icon {
  display: none;
  padding: 10px;
  width: 45px;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.burger-icon img {
  width: 100%;
}

.burger-icon:hover {
  background: linear-gradient(145deg, #ffffff, #bababa);
  box-shadow: 8px 8px 25px #c2c2c2, -8px -8px 25px #ffffff;
}

.menu-container-fluid {
  background-color: #e0e0e0;
  margin-top: 20px;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.menu-container-fluid .menu-container {
  /* border: 1px solid red; */
  height: 50px;
  font-family: "Averia Serif Libre";
  font-weight: bold;
}
.menu-container-fluid .menu-container .menu-row {
  /* border: 1px solid greenyellow; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container-fluid .menu-container .menu-row nav {
  height: auto;
  display: flex;
  justify-content: flex-end;
}
.menu-container-fluid .menu-container .menu-row nav ul {
  list-style: none;
  display: flex;
  margin: 0px;
  padding: 0px;
}
.menu-container-fluid .menu-container .menu-row nav ul a {
  text-decoration: none;
  margin: 0px 25px;
  color: #0d7377;
  padding-bottom: 15px;
}
.menu-container-fluid .menu-container .menu-row nav ul a:hover {
  color: #ff0000;
  filter: drop-shadow(1px 1px 5px #ffffff);
  transition: 0.4s;
}

.contacto-button {
  width: 45px;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  bottom: 85px;
  left: 20px;
  z-index: 1;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.contacto-button img {
  width: 100%;
}

.contacto-button:hover {
  background: linear-gradient(145deg, #ffffff, #bababa);
  box-shadow: 8px 8px 25px #c2c2c2, -8px -8px 25px #ffffff;
}

.modal-dialog {
  margin: 30vh 15vw 0;
  font-family: "Aldrich", sans-serif;
  width: 250px;
  height: auto;
}
.modal-dialog .modal-content {
  box-shadow: 5px 5px 10px #505050, -5px -5px 10px #bebebe;
  background: rgba(255, 255, 255, 0.6);
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(3.5px);
  transition: 0.5s;
}
.modal-dialog .modal-content .foto-modal {
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: -110px;
}
.modal-dialog .modal-content .modal-body .row {
  /* border: 1px solid red; */
  margin: 30px 0px;
  justify-content: space-around;
}
.modal-dialog .modal-content .modal-body .row .social {
  /* border: 1px solid blue; */
  width: auto;
}
.modal-dialog .modal-content .modal-body .row .social .social-img {
  width: 40px;
  cursor: pointer;
  transition: 0.4s;
}
.modal-dialog .modal-content .modal-body .row .social .social-img:hover {
  width: 45px;
  margin: 0px;
  filter: drop-shadow(1px 1px 5px #ffffff);
}
.modal-dialog .modal-content .modal-footer {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0px;
}
.modal-dialog .modal-content .modal-footer .social-whatsapp {
  width: 55px;
  transition: 0.4s;
}
.modal-dialog .modal-content .modal-footer .social-whatsapp:hover {
  width: 65px;
  margin: 0px;
  filter: drop-shadow(1px 1px 5px #ffffff);
}

.header-fluid {
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header-fluid .header-container .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-fluid .header-container .header-row .header-title {
  width: auto;
}
.header-fluid .header-container .header-row .header-title h4 {
  margin: 0;
  font-family: "Averia Serif Libre", cursive;
  color: #0d7377;
  font-size: 35px;
  text-align: end;
  font-style: oblique;
}
.header-fluid .header-container .header-row .header-title h1 {
  margin: 0 0 10px 0;
  font-family: "Montserrat", sans-serif;
  color: #212121;
  font-size: 110px;
  font-weight: bold;
}
.header-fluid .header-container .header-row .header-title h3 {
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  font-family: "Averia Serif Libre", cursive;
  color: #212121;
  text-align: end;
  cursor: pointer;
}
.header-fluid .header-container .header-row .header-title h3:hover {
  color: #af0404;
}
.header-fluid .header-container .header-row .header-foto {
  margin-top: 20px;
  width: 400px;
  height: 450px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.8s;
  background: url(../img/modal-foto.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.header-fluid .header-container .header-row .header-foto span {
  position: absolute;
  top: 50px;
  left: 25px;
  font-family: "Averia Serif Libre", cursive;
  color: #212121;
  font-size: 27px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.8s;
  transform: translateY(20px);
}
.header-fluid .header-container .header-row .header-foto:hover span {
  opacity: 1;
  transform: translateY(0);
}
.header-fluid .header-container .header-row .header-foto:hover {
  background-size: 800px;
  background-position: left top;
  filter: grayscale(100%);
}
.header-fluid .header-container .header-row .header-foto::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}
.header-fluid .header-container .header-row .header-foto:hover::before {
  opacity: 1;
}

.skills-fluid {
  margin: 20px 0px;
  height: auto;
}
.skills-fluid .skills-row {
  padding-top: 30px;
  border-top: 5px solid #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills-fluid .skills-row .skills-title {
  width: auto;
}
.skills-fluid .skills-row .skills-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
}
.skills-fluid .skills-row .skills-info {
  width: 50%;
}
.skills-fluid .skills-row .skills-info h4 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}
.skills-fluid .skills-row .skills-info p {
  font-family: "Averia Serif Libre";
  text-align: justify;
}

.skill-card-fluid {
  margin-bottom: 100px;
}
.skill-card-fluid .skill-card-container .skill-card-row {
  height: auto;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
  align-items: center;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card {
  border-bottom: 2px solid #212121;
  width: 20%;
  height: auto;
  padding: 15px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 {
  width: 100%;
  height: 70%;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 .skill-renglon {
  width: 100%;
  height: 50px;
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 .skill-renglon img {
  width: 40px;
  cursor: pointer;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 .skill-renglon img:hover {
  border-radius: 4.5px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 .skill-renglon p {
  font-family: "Averia Serif Libre";
  line-height: 1.2rem;
  text-align: justify;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-01 .skill-renglon-4 p {
  margin-bottom: 5px;
  font-family: "Averia Serif Libre";
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-02 {
  margin-top: 20px;
  padding: 0px 10px 10px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-02 h5 {
  margin: 5px 0;
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}
.skill-card-fluid .skill-card-container .skill-card-row .skill-card .skill-02 p {
  margin: 0;
  font-family: "Averia Serif Libre";
  text-align: justify;
  font-size: 15px;
  line-height: 1.2rem;
}

.proyect-fluid {
  margin-bottom: 50px;
  height: auto;
  width: auto;
}
.proyect-fluid .proyect-container {
  height: auto;
}
.proyect-fluid .proyect-container .proyect-row {
  padding-top: 30px;
  border-top: 5px solid #212121;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.proyect-fluid .proyect-container .proyect-row .proyect-title {
  width: auto;
}
.proyect-fluid .proyect-container .proyect-row .proyect-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
}
.proyect-fluid .proyect-container .proyect-row .proyect-info {
  width: 50%;
}
.proyect-fluid .proyect-container .proyect-row .proyect-info h4 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}
.proyect-fluid .proyect-container .proyect-row .proyect-info p {
  font-family: "Averia Serif Libre";
  text-align: justify;
}

.proyect-card-fluid {
  height: auto;
  width: auto;
}
.proyect-card-fluid .proyect-card-container {
  height: auto;
  width: auto;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row {
  height: auto;
  width: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big {
  height: 70%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto {
  width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto .span-01 {
  color: #eeeeee;
  font-family: "Averia Serif Libre", cursive;
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  opacity: 0;
  transition: all 0.8s;
  transform: translateY(20px);
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto .span-02 {
  color: #eeeeee;
  font-family: "Averia Serif Libre";
  position: absolute;
  bottom: 10px;
  right: 30px;
  z-index: 1;
  opacity: 0;
  transition: all 0.8s;
  transform: translateY(20px);
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto:hover .span-01 {
  opacity: 1;
  transform: translateY(0);
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto:hover .span-02 {
  opacity: 1;
  transform: translateY(0);
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .proyect-foto {
  width: 100%;
  height: 320px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.8s;
  background: url(../img/proyect-01.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .proyect-foto:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .proyect-foto::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .proyect-foto:hover::before {
  opacity: 1;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big #proyect-mobile {
  width: 200px;
  filter: drop-shadow(0 7px 15px rgba(0, 0, 0, 0.4));
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details {
  margin: 20px 0 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details p {
  padding: 0 10%;
  color: #212121;
  font-family: "Averia Serif Libre";
  text-align: justify;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details .btn-ver-contenedor {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details .btn-ver {
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  border-radius: 8px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details .btn-ver a {
  color: #212121;
  text-decoration: none;
}
.proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details .btn-ver:hover {
  background: linear-gradient(145deg, #ffffff, #bababa);
  box-shadow: 8px 8px 25px #c2c2c2, -8px -8px 25px #ffffff;
}

#proyect-foto-2 {
  background: url(../img/proyecto2-web.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#proyect-foto-2:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}

#proyect-foto-2::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}

#proyect-foto-2:hover::before {
  opacity: 1;
}

#proyect-foto-3 {
  background: url(../img/proyect3-web.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#proyect-foto-3:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}

#proyect-foto-3::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}

#proyect-foto-3:hover::before {
  opacity: 1;
}

#proyect-foto-4 {
  background: url(../img/proyect4-web.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#proyect-foto-4:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}

#proyect-foto-4::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}

#proyect-foto-4:hover::before {
  opacity: 1;
}

#proyect-foto-5 {
  background: url(../img/proyect5-web.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#proyect-foto-5:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}

#proyect-foto-5::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}

#proyect-foto-5:hover::before {
  opacity: 1;
}

#proyect-foto-6 {
  background: url(../img/proyect6-web.png);
  background-size: cover;
  background-position: center;
  position: relative;
}

#proyect-foto-6:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}

#proyect-foto-6::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}

#proyect-foto-6:hover::before {
  opacity: 1;
}

.block-fluid {
  border: 1px solid black;
  height: auto;
}
.block-fluid .block-container {
  border: 1px solid red;
  height: auto;
}
.block-fluid .block-container .block-row1 {
  border: 1px solid blue;
  border-top: 5px solid #212121;
  margin: 20px 0px;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.block-fluid .block-container .block-row1 .block-title {
  background-color: rgba(172, 255, 47, 0.549);
  border: 1px solid green;
  width: auto;
  padding: 0;
}
.block-fluid .block-container .block-row1 .block-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
}
.block-fluid .block-container .block-row1 .block-coment {
  background-color: rgba(172, 255, 47, 0.549);
  border: 1px solid green;
  width: 50%;
  padding: 0;
}
.block-fluid .block-container .block-row1 .block-coment h4 {
  font-family: "Averia Serif Libre", cursive;
  font-weight: bold;
}
.block-fluid .block-container .block-row1 .block-coment p {
  font-family: "Averia Serif Libre";
  text-align: justify;
}
.block-fluid .block-container .block-row2 {
  border: 1px solid blue;
}
.block-fluid .block-container .block-row2 .block-card {
  border: 1px solid orangered;
  width: 33%;
}
.block-fluid .block-container .block-row2 .block-card #block-a,
.block-fluid .block-container .block-row2 .block-card #block-b {
  padding: 0;
}
.block-fluid .block-container .block-row2 .block-card #block-a #codeblock-1,
.block-fluid .block-container .block-row2 .block-card #block-b #codeblock-1 {
  background: url(../img/modal-foto.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.block-fluid .block-container .block-row2 .block-card #block-a #codeblock-1:hover,
.block-fluid .block-container .block-row2 .block-card #block-b #codeblock-1:hover {
  background-size: 800px;
  background-position: right top;
  filter: grayscale(100%) blur(1.5px) contrast(30%);
}
.block-fluid .block-container .block-row2 .block-card #block-a #codeblock-1::before,
.block-fluid .block-container .block-row2 .block-card #block-b #codeblock-1::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 15px;
  border: 1px solid #f6f6f6;
  opacity: 0;
  transition: opacity 0.8s;
}
.block-fluid .block-container .block-row2 .block-card #block-a #codeblock-1:hover::before,
.block-fluid .block-container .block-row2 .block-card #block-b #codeblock-1:hover::before {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
