/* -------------------------------------------------------- */
/*    TABLET    */
/* -------------------------------------------------------- */

@media screen and (max-width: 768px) {

    .header-fluid .header-container .header-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-fluid .header-container .header-row .header-title h4 {
        font-size: 25px;
    }
    .header-fluid .header-container .header-row .header-title h1 {
        font-size: 40px;
    }

    /* ------------------------------------------------------- */
    /* -----TARJETA DEL HEADER----- */
    /* ------------------------------------------------------- */
    .header-fluid .header-container .header-row .header-foto {
        margin-top: 10px;
        width: 250px;
        height: 280px;
    }
    .header-fluid .header-container .header-row .header-foto:hover {
        background-size: 500px;
        background-position: left top;
    }
    .header-fluid .header-container .header-row .header-foto span {
        font-size: 14px;
    }

}