/* -------------------------------------------------------- */
/*    TABLET    */
/* -------------------------------------------------------- */

@media screen and (max-width: 768px) {
    .header-fluid {
        height: 100vh;
    }

    .header-fluid .header-container .header-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header-fluid .header-container .header-row .header-title h4 {
        font-size: 25px;
    }
    .header-fluid .header-container .header-row .header-title h1 {
        font-size: 55px;
        text-align: end;
    }

    /* ------------------------------------------------------- */
    /* -----TARJETA DEL HEADER----- */
    /* ------------------------------------------------------- */
    .header-fluid .header-container .header-row .header-foto {
        width: 250px;
        height: 280px;
    }
    .header-fluid .header-container .header-row .header-foto:hover {
        background-size: 500px;
        background-position: left top;
    }
    .header-fluid .header-container .header-row .header-foto span {
        font-size: 14px;
    }

    /* ------------------------------------------------------- */
    /* -----SKILLS----- */
    /* ------------------------------------------------------- */

    .skills-fluid .skills-row .skills-info {
        width: auto;
    }

    .skill-card-fluid .skill-card-container .skill-card-row .skill-card {
        width: 48%;
        margin: 10px 5px 80px;
    }

    /* ------------------------------------------------------- */
    /* -----PROYECTOS----- */
    /* ------------------------------------------------------- */

    .proyect-fluid {
        margin-bottom: 20px;
    }
    .proyect-fluid .proyect-container .proyect-row .proyect-info {
        width: auto;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big {
        padding: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto {
        margin-bottom: 40px;
        width: 100%;
        height: 1800px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-big .contenedor-foto .span-01 {
        font-size: 2.5rem;
    }
    .proyect-card-fluid .proyect-card-container .proyect-card-row .proyect-card-details p {
        padding: 0;
    }

}