@import "variables";

body {
    margin: 0;
    background: #e0e0e0;
}

// ---------------------------------------------------
//       MENU
// ---------------------------------------------------

.burger-icon {
    display: none;
    padding: 10px;
    width: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3;

    // ---------NEUMORFISMO-----------------
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

    img {
        width: 100%;
    }
}
.burger-icon:hover {
    background: linear-gradient(145deg, #ffffff, #bababa);
    box-shadow: 8px 8px 25px #c2c2c2,
    -8px -8px 25px #ffffff;
}

.menu-container-fluid {
    // border: 1px solid orangered;
    background-color: #e0e0e0;
    margin-top: 20px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;

    .menu-container {
        /* border: 1px solid red; */
        height: 50px;
        font-family: $fuente-parrafos;
        font-weight: bold;

        .menu-row {
            /* border: 1px solid greenyellow; */
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            nav {
                height: auto;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style: none;
                    display: flex;
                    margin: 0px;
                    padding: 0px;

                    a {
                        text-decoration: none;
                        margin: 0px 25px;
                        color: $color-celesteoscuro;
                        padding-bottom: 15px;
                    }
                    a:hover {
                        color: $color-rojoclaro;
                        filter: $color-efectohover;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

// ---------------------------------------------------
//       BOTON CONTACTO
// ---------------------------------------------------

.contacto-button {
    width: 45px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 75px;
    z-index: 1;

    // ---------NEUMORFISMO-----------------
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

    img {
        width: 100%;
    }
}
.contacto-button:hover {
    background: linear-gradient(145deg, #ffffff, #bababa);
    box-shadow: 8px 8px 25px #c2c2c2,
    -8px -8px 25px #ffffff;
}

.modal-dialog {
    margin: 30vh 15vw 0;
    font-family: 'Aldrich', sans-serif;
    width: 250px;
    height: auto;

    .modal-content {
        box-shadow:  5px 5px 10px #505050, -5px -5px 10px #bebebe;

        // ---------------------------------------
        //     EFECTO GLASS
        // ---------------------------------------
        background: rgba(255, 255, 255, 0.6);
        border: 1.5px solid rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        backdrop-filter: blur(3.5px);
        transition: 0.5s;

        .foto-modal {
            width: 150px;
            border-radius: 50%;
            position: absolute;
            left: 20%;
            top: -110px;
        }

        .modal-body .row {
            /* border: 1px solid red; */
            margin: 30px 0px;
            justify-content: space-around;

            .social {
                /* border: 1px solid blue; */
                width: auto;

                .social-img {
                    width: 40px;
                    cursor: pointer;
                    transition: 0.4s;
                }
                .social-img:hover {
                    width: 45px;
                    margin: 0px;
                    filter: $color-efectohover;
                }
            }
        }

        .modal-footer {
            background-color: rgba(255, 255, 255, 0.3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 0px;

            .social-whatsapp {
                width: 55px;
                transition: 0.4s;
            }
            .social-whatsapp:hover {
                width: 65px;
                margin: 0px;
                filter: $color-efectohover;
            }
        }
    }

    
}

// ---------------------------------------------------
//       HEADER
// ---------------------------------------------------

.header-fluid {
    // border: 1px solid red;
    height: 800px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .header-container {
        // border: 1px solid blue;

        .header-row {
            // border: 1px solid rgb(242, 0, 255);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            position: relative;

            .header-title {
                width: auto;

                h4 {
                    margin: 0;
                    font-family: $fuente-subtitulos;
                    color: $color-celesteoscuro;
                    font-size: 35px;
                    text-align: end;
                    font-style: oblique;
                }
                h1 {
                    margin: 0 0 10px 0;
                    font-family: $fuente-titulos;
                    color: $color-grisoscuro;
                    font-size: 110px;
                    font-weight: bold;
                }
                h3 {
                    font-weight: bold;
                    font-style: oblique;
                    font-size: 20px;
                    font-family: $fuente-subtitulos;
                    color: $color-grisoscuro;
                    text-align: end;
                    cursor: pointer;
                }
                h3:hover {
                    color: $color-rojooscuro;
                }
            }

            // -----------------------------------------
            //       TARJETA EFECTO HOVER
            // -----------------------------------------
            .header-foto {
                // border: 1px solid red;
                margin-top: 20px;
                width: 400px;
                height: 450px;
                cursor: pointer;
                border-radius: 15px;
                box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
                transition: background 0.8s;

                background: url(../img/modal-foto.jpg);
                background-size: cover;
                background-position: center;
                position: relative;

                span {
                    position: absolute;
                    top: 50px;
                    left: 25px;
                    font-family: $fuente-subtitulos;
                    color: $color-grisoscuro;
                    font-size: 27px;
                    font-weight: bold;
                    opacity: 0;
                    transition: all 0.8s;
                    transform: translateY(20px);
                }

            }
            .header-foto:hover span { 
                opacity: 1;
                transform: translateY(0);
            }
            
            .header-foto:hover {
                background-size: 800px;
                background-position: left top;
                filter: grayscale(100%);
            }
            .header-foto::before {
                content: "";
                position: absolute;
                top: 8px;
                left: 8px;
                bottom: 8px;
                right: 8px;
                border-radius: 15px;
                border: 1px solid #f6f6f6;
                opacity: 0;
                transition: opacity 0.8s;
            }
            .header-foto:hover::before {
                opacity: 1;
            }
        }
    }
}

// ---------------------------------------------------
//       SKILLS
// ---------------------------------------------------

.skills-fluid {
    margin: 20px 0px;
    height: auto;

    .skills-row {
        // border: 1px solid red;
        padding-top: 30px;
        border-top: 5px solid $color-grisoscuro;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .skills-title {
            width: auto;

            h2 {
                font-family: $fuente-titulos;
                font-size: 150px;
            }
        }

        .skills-info {
            width: 50%;

            h4 {
                font-family: $fuente-subtitulos;
                font-weight: bold;
            }

            p {
                font-family: $fuente-parrafos;
                text-align: justify;
            }
        }
    }
}

.skill-card-fluid {
    // border: 1px solid red;
    margin-bottom: 100px;
    
    .skill-card-container {

        .skill-card-row {
            // border: 1px solid red;
            height: auto;

            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: center;

            .skill-card {
                // border: 1px solid green;
                border-bottom: 2px solid $color-grisoscuro;
                width: 20%;
                height: auto;
                padding: 15px 5px 5px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .skill-01 {
                    // border: 1px solid orangered;
                    width: 100%;
                    height: 70%;

                    .skill-renglon {
                        // border: 1px solid blue;
                        width: 100%;
                        height: 50px;
                        margin: 0 0 5px 0;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;

                        img {
                            width: 40px;
                            cursor: pointer;
                        }
                        img:hover {
                            border-radius: 4.5px;
                            background: #e0e0e0;
                            box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
                        }

                        p {
                            font-family: $fuente-parrafos;
                            line-height: 1.2rem;
                            text-align: justify;
                        }
                    }
                    .skill-renglon-4 p {
                        margin-bottom: 5px;
                        font-family: $fuente-parrafos;
                    }
                }
                .skill-02 {
                    // border: 1px solid orangered;
                    margin-top: 20px;
                    padding: 0px 10px 10px;
                    width: 100%;
                    height: 150px;

                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;

                    h5 {
                        margin: 5px 0;
                        font-family: $fuente-subtitulos;
                        font-weight: bold;
                    }

                    p {
                        margin: 0;
                        font-family: $fuente-parrafos;
                        text-align: justify;
                        font-size: 15px;
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }
}

// ---------------------------------------------------
//          PROYECTOS
// ---------------------------------------------------

.proyect-fluid {
    margin-bottom: 50px;
    height: auto;
    width: auto;
    
    .proyect-container {
        height: auto;

        .proyect-row {
            // border: 1px solid red;
            padding-top: 30px;
            border-top: 5px solid $color-grisoscuro;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
    
            .proyect-title {
                width: auto;
    
                h2 {
                    font-family: $fuente-titulos;
                    font-size: 80px;
                }
            }
    
            .proyect-info {
                width: 50%;
    
                h4 {
                    font-family: $fuente-subtitulos;
                    font-weight: bold;
                }
    
                p {
                    font-family: $fuente-parrafos;
                    text-align: justify;
                }
            }
        }
    }
}

// ----------------------------------------------------------------
//                 PROYECTO 1
// ---------------------------------------------------------------

.proyect-card-fluid {
    // border: 1px solid black;
    height: auto;
    width: auto;

    .proyect-card-container {
        // border: 1px solid rgb(128, 128, 128);
        height: auto;
        width: auto;

        .proyect-card-row {
            // border: 1px solid red;
            height: auto;
            width: auto;
            padding: 10px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .proyect-card-big {
                // border: 1px solid rgb(18, 18, 255);
                height: 70%;
                margin-bottom: 10px;

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;


                // ------------------------------------------
                //    EFECTO EN LA PRESENTACIÓN DE PROYECTO
                // ------------------------------------------
                .contenedor-foto {
                    // border: 1px solid red;
                    width: 650px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    // ------------------------------------------
                    //    EFECTO HOVER EN LOS SPAN
                    // ------------------------------------------
                    .span-01 {
                        color: $color-blanco;
                        font-family: $fuente-subtitulos;
                        position: absolute;
                        top: 30px;
                        left: 40px;
                        z-index: 1;

                        font-size: 45px;
                        font-weight: bold;
                        opacity: 0;
                        transition: all 0.8s;
                        transform: translateY(20px);
                    }

                    .span-02 {
                        color: $color-blanco;
                        font-family: $fuente-parrafos;
                        position: absolute;
                        bottom: 40px;
                        right: 40px;
                        z-index: 1;

                        opacity: 0;
                        transition: all 0.8s;
                        transform: translateY(20px);
                    }
                }

                .contenedor-foto:hover .span-01 { 
                    opacity: 1;
                    transform: translateY(0);
                }
                .contenedor-foto:hover .span-02 { 
                    opacity: 1;
                    transform: translateY(0);
                }

                // ------------------------------------------
                //    EFECTO HOVER EN LA IMAGEN DEL PROYECTO
                // ------------------------------------------
                .proyect-foto {
                    // border: 1px solid red;
                    width: 100%;
                    height: 320px;
                    cursor: pointer;
                    border-radius: 15px;
                    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
                    transition: background 0.8s;
    
                    background: url(../img/proyect-01.png);
                    background-size: cover;
                    background-position: center;
                    position: relative;
                }
                
                .proyect-foto:hover {
                    background-size: 800px;
                    background-position: right top;
                    filter: grayscale(100%) blur(1.5px) contrast(30%);
                }
                .proyect-foto::before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    bottom: 8px;
                    right: 8px;
                    border-radius: 15px;
                    border: 1px solid #f6f6f6;
                    opacity: 0;
                    transition: opacity 0.8s;
                }
                .proyect-foto:hover::before {
                    opacity: 1;
                }
                // --------------------------------------------------------

                #proyect-mobile {
                    width: 200px;
                    filter: drop-shadow($sombra-drop);
                }
            }

            .proyect-card-details {
                // border: 1px solid blue;
                margin: 20px 0 50px;
                width: 100%;
                height: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    padding: 0 10%;
                    color: $color-grisoscuro;
                    font-family: $fuente-parrafos;
                    text-align: justify;
                }

                .btn-ver-contenedor {
                    // border: 1px solid blue;
                    margin-top: 10px;
                    width: 100%;

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                }
                .btn-ver {
                    // border: 1px solid red;
                    margin: 0;
                    padding: 8px 12px;
                    cursor: pointer;
                    font-family: $fuente-titulos;
                    font-size: 14px;

                    border-radius: 8px;
                    background: #e0e0e0;
                    box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

                    a {
                        color: $color-grisoscuro;
                        text-decoration: none;
                    }
                }
                .btn-ver:hover {
                    background: linear-gradient(145deg, #ffffff, #bababa);
                    box-shadow: 8px 8px 25px #c2c2c2,
                    -8px -8px 25px #ffffff;
                }
            }
        }
    }
}

// ----------------------------------------------------------------
//                 PROYECTO 2
// ---------------------------------------------------------------
#proyect-foto-2 {
    background: url(../img/modal-foto.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
#proyect-foto-2:hover {
    background-size: 800px;
    background-position: right top;
    filter: grayscale(100%) blur(1.5px) contrast(30%);
}
#proyect-foto-2::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    right: 8px;
    border-radius: 15px;
    border: 1px solid #f6f6f6;
    opacity: 0;
    transition: opacity 0.8s;
}
#proyect-foto-2:hover::before {
    opacity: 1;
}