@import "variables";

body {
    margin: 0;
    background: #ffffff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffffff, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// ---------------------------------------------------
//       MENU
// ---------------------------------------------------

.burger-icon {
    display: none;
    padding: 10px;
    width: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3;

    border-radius: 10px;
    background: linear-gradient(145deg, #ffffff, #cacaca);
    box-shadow: 3px 3px 15px #c2c2c2,
    -3px -3px 15px #ffffff;

    img {
        width: 100%;
    }
}
.burger-icon:hover {
    background: linear-gradient(145deg, #ffffff, #bababa);
    box-shadow: 8px 8px 25px #c2c2c2,
    -8px -8px 25px #ffffff;
}

.menu-container-fluid {
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;

    .menu-container {
        /* border: 1px solid red; */
        height: 50px;
        font-family: $fuente-parrafos;
        font-weight: bold;

        .menu-row {
            /* border: 1px solid greenyellow; */
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            nav {
                height: auto;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style: none;
                    display: flex;
                    margin: 0px;
                    padding: 0px;

                    a {
                        text-decoration: none;
                        margin: 0px 25px;
                        color: $color-celesteoscuro;
                        padding-bottom: 15px;
                    }
                    a:hover {
                        border-bottom: 2px solid $color-rojoclaro;
                        color: $color-rojoclaro;
                        filter: $color-efectohover;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}
