@import "variables";

body {
    margin: 0;
    background: #e0e0e0;
}

// ---------------------------------------------------
//       MENU
// ---------------------------------------------------

.burger-icon {
    display: none;
    padding: 10px;
    width: 45px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 3;

    // ---------NEUMORFISMO-----------------
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

    img {
        width: 100%;
    }
}
.burger-icon:hover {
    background: linear-gradient(145deg, #ffffff, #bababa);
    box-shadow: 8px 8px 25px #c2c2c2,
    -8px -8px 25px #ffffff;
}

.menu-container-fluid {
    margin-top: 20px;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 1;

    .menu-container {
        /* border: 1px solid red; */
        height: 50px;
        font-family: $fuente-parrafos;
        font-weight: bold;

        .menu-row {
            /* border: 1px solid greenyellow; */
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            nav {
                height: auto;
                display: flex;
                justify-content: flex-end;

                ul {
                    list-style: none;
                    display: flex;
                    margin: 0px;
                    padding: 0px;

                    a {
                        text-decoration: none;
                        margin: 0px 25px;
                        color: $color-celesteoscuro;
                        padding-bottom: 15px;
                    }
                    a:hover {
                        color: $color-rojoclaro;
                        filter: $color-efectohover;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

// ---------------------------------------------------
//       BOTON CONTACTO
// ---------------------------------------------------

.contacto-button {
    width: 45px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 75px;
    z-index: 1;

    // ---------NEUMORFISMO-----------------
    border-radius: 8px;
    background: #e0e0e0;
    box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

    img {
        width: 100%;
    }
}
.contacto-button:hover {
    background: linear-gradient(145deg, #ffffff, #bababa);
    box-shadow: 8px 8px 25px #c2c2c2,
    -8px -8px 25px #ffffff;
}

.modal-dialog {
    margin: 30vh 15vw 0;
    font-family: 'Aldrich', sans-serif;
    width: 250px;
    height: auto;

    .modal-content {
        box-shadow:  5px 5px 10px #505050, -5px -5px 10px #bebebe;

        // ---------------------------------------
        //     EFECTO GLASS
        // ---------------------------------------
        background: rgba(255, 255, 255, 0.6);
        border: 1.5px solid rgba(255, 255, 255, 0.7);
        border-radius: 10px;
        backdrop-filter: blur(3.5px);
        transition: 0.5s;

        .foto-modal {
            width: 150px;
            border-radius: 50%;
            position: absolute;
            left: 20%;
            top: -110px;
        }

        .modal-body .row {
            /* border: 1px solid red; */
            margin: 30px 0px;
            justify-content: space-around;

            .social {
                /* border: 1px solid blue; */
                width: auto;

                .social-img {
                    width: 40px;
                    cursor: pointer;
                    transition: 0.4s;
                }
                .social-img:hover {
                    width: 45px;
                    margin: 0px;
                    filter: $color-efectohover;
                }
            }
        }

        .modal-footer {
            background-color: rgba(255, 255, 255, 0.3);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border: 0px;

            .social-whatsapp {
                width: 55px;
                transition: 0.4s;
            }
            .social-whatsapp:hover {
                width: 65px;
                margin: 0px;
                filter: $color-efectohover;
            }
        }
    }

    
}

// ---------------------------------------------------
//       HEADER
// ---------------------------------------------------

.header-fluid {
    // border: 1px solid red;

    .header-container {
        // border: 1px solid blue;

        .header-row {
            // border: 1px solid rgb(242, 0, 255);

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .header-title {
                width: auto;

                h4 {
                    margin: 0;
                    font-family: $fuente-subtitulos;
                    color: $color-grisoscuro;
                    font-size: 30px;
                }
                h1 {
                    margin: 0;
                    font-family: $fuente-subtitulos;
                    color: $color-grisoscuro;
                    font-size: 80px;
                }
            }

            .header-foto {
                width: 300px;

                img {
                    width: 100%;
                    margin: 20px 0px 0px 0px;
                }
            }
        }
    }
}