// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Montserrat', sans-serif;
$fuente-subtitulos: 'Averia Serif Libre', cursive;
$fuente-parrafos: 'Averia Serif Libre';

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: #212121;
$color-grisclaro: #414141;
$color-blanco: #eeeeee;
$color-celesteoscuro: #0d7377;
$color-celesteclaro: #14ffec;
$color-rojooscuro: #af0404;
$color-rojoclaro: #ff0000;

$color-filtrogris1: #212121a6;
$color-filtrogris2: #2121213c;
$color-filtrogris3: #3131313c;
$color-filtrobranco: #ffffffc1;

// -----------------------------------
//    BOX SHADOW
// -----------------------------------

$sombra: 0 7px 15px rgba(0, 0, 0, 0.4);
$sombra-drop: 0 7px 15px rgba(0, 0, 0, 0.4);

// -----------------------------------
//    EFECTO HOVER
// -----------------------------------

$color-efectohover: drop-shadow(1px 1px  5px #ffffff);

// -----------------------------------
//    NEUMORFISMO
// -----------------------------------

// border-radius: 8px;
// background: #e0e0e0;
// box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;

