// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Aldrich', sans-serif;
$fuente-subtitulos: 'Aldrich', sans-serif;
$fuente-parrafos: 'Raleway', sans-serif;

// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: #212121;
$color-grisclaro: #414141;
$color-blanco: #eeeeee;
$color-celesteoscuro: #0d7377;
$color-celesteclaro: #14ffec;
$color-rojooscuro: #af0404;
$color-rojoclaro: #ff0000;

$color-filtrogris1: #212121a6;
$color-filtrogris2: #2121213c;
$color-filtrogris3: #3131313c;
$color-filtrobranco: #ffffffc1;

// -----------------------------------
//    EFECTO HOVER
// -----------------------------------

$color-efectohover: drop-shadow(1px 1px  10px #14ffec);



// -----------------------------------
//    NEUMORFISMO
// -----------------------------------

// border-radius: 10px;
// background: linear-gradient(145deg, #ffffff, #cacaca);
// box-shadow: 3px 3px 15px #c2c2c2,
// -3px -3px 15px #ffffff;

